@font-face {
    font-family: 'MyFont';
    src: url('hacked-font/Hacked-KerX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'MyFont',Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #1b1c1d;
    margin: 0px;
    padding: 0px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h2{
    font-size: 4rem;
    margin:0px;
}

header nav>ul{
    list-style: none;
    display: flex;
    width: 50%;
    gap: 10%;
    justify-content: end;
    padding-right: 2%;
    align-items: center;
}

/* effet hover*/
header nav button{
    text-decoration: none;
    color:#fff;
    font-size: 2.5rem;
}
#btn_nav{
    text-decoration: none;
    color:#fff;
    font-size: 2.5rem;    
    color: #1b1c1d;
    padding: 10px 15px;
    border: 3px #1b1c1d solid;
    background-color: #84D022;
    border-radius: 10px;
}
#btn_nav:hover{
    background-color: #1b1c1d;
    color: #84D022;
    border: 3px solid #84D022;
}
#Premiere_Page, #Page_Presentation, #Page_Projet{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Page_Projet{
    margin-top: 40vh;
}
#Premiere_Page{
    position: relative;
    height: 80vh;
    width: 100%;
    text-align: center;
}


#Premiere_Page p{
    max-width: 30%;
    font-size: 3rem;
    position: relative;
    z-index: 1;
    margin-bottom: 25vh;
}
#Premiere_Page p span{
    color: #84D022;    
}
#Premiere_Page button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #84D022;

}
#Premiere_Page button img{
    max-width: 80px;
    max-height: 80px;
    
}
#Page_Presentation{
    margin-top: 40vh;
    padding: 0%;
}
#Contenue{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    margin-top: 5%;
    padding: 0%;
}
.G-sidebar{
    width: 25%;
    text-align: center;
    background-color: gray;
    border-radius: 30px;
}
.text_main{
    width: 30%;
}
.D-sidebar {
    width: 30%; /* Adjust width as needed */
    background-color: gray;
    border-radius: 20px;
}
.D-sidebar h2{
    color: #fff;
}

#skills {
    margin: 0;
    text-align: center;
}

.skills-charts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.chart {
    border-radius: 5px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart img.language-logo {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    
}
.name_prog{
    display: flex;
}
.bar {
    background-color: #e0e0e0; /* Background color for the whole bar */
    border-radius: 5px;
    position: relative;
    width: 60%; /* Full width */
    height: 30px; /* Height of the bar */
    margin-left: 20px;
}

.bar-filled {
    background-color: #84D022; /* Color for the filled part */
    border-radius: 5px 0 0 5px; /* Rounded corners for the filled part */
    height: 100%;
    transition: width 1s;
}

.percentage {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 24px;
}


.circle {
    height: 400px;
    width: 550px;
    background-color: #84D022;
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(500px);
    position: absolute;
    z-index: -1;
    
    
}
#onecircle{
    top:-4%;
    right: -6%;
}
#twocicle{
    top:-1%;
    left: 12%;
}
#theercircle{
    top:30%;
    right:32%;
}

