

@font-face {
    font-family: 'MyFont';
    src: url('../hacked-font/Hacked-KerX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
        body {
            font-family: 'Myfont', sans-serif;
            background-color: #1b1c1d;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color:#fAEBD7;
            box-sizing: border-box;
            font-size: 2rem;
        }
        #back_btn{
            position: absolute;
            top: 20px;
            left: 20px;
            display: flex;
            border-radius: 100px;
            background-color: #84D022;
            padding: 5px;
        }
        #back_btn img{
            max-width: 50px;
            max-height: 50px;
        }
        h1{
            font-size: 3rem;
            margin: 10%;
        }
        .form-container {
            width: 100%;
            max-width: 800px;
            text-align: center;
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: left;
        }

        .form-group label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #84D022;
        }

        .form-group input,
        .form-group textarea {
            width: 100%;
            padding: 15px;
            border: 2px solid #fAEBD7;
            border-radius: 5px;
            font-size: 16px;
            transition: border-color 0.3s;
        }

        .form-group input:focus,
        .form-group textarea:focus {
            border-color: #fAEBD7;
            outline: none;
        }

        .form-group textarea {
            resize: vertical;
            height: 150px;
        }

        .form-group button {
            width: 20%;
            padding: 10px;
            background-color:#84D022;
            border: none;
            border-radius: 30px;
            color: #000;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            margin-left: 42% ;
            border: solid 3px #84D022;
        }

        .form-group button:hover {
            background-color: #000;
            color: #84D022;
            border:solid 3PX #84D022;
        }

        .form-group button:active {
            background-color: #fAEBD7
        }
